.App {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em 1fr; 
}

.room-container {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rooms {
  display: flex;
  flex-direction: column;
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room h1 {
  position: sticky;
  top: 0;
}